@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.hero {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url(https://images.pexels.com/photos/4252525/pexels-photo-4252525.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

Chip {
  cursor: pointer;
}

.truncate {
  width: auto;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  --max-lines: 2;
  display: -webkit-box;
  -webkit-line-clamp: var(--max-lines);
  -webkit-box-orient: vertical;
}
.truncate-1 {
  width: auto;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  --max-lines: 1;
  display: -webkit-box;
  -webkit-line-clamp: var(--max-lines);
  -webkit-box-orient: vertical;
}
